.header{
    display: flex;
    padding: 8px 0;
    justify-content: space-between;

}

.main-content{
    display: flex;
}

.main-content .left img{
    width: 400px;
    height: 500px;
}

.main-content .right{
    margin-left: 100px;
}

.left{
    height: 500px;
}

.right p{
    padding: 10px 0 0 20px;
}

.bid-info{
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}

.bid-info .price span{
    color: crimson;
}
.bid-info .time span{
    color: rgb(49, 49, 253)
}

.chat-window{
    width: 100%;
    height: 350px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    overflow: auto;
    background-color: rgb(187, 187, 187);
    box-shadow: 5px 10px 8px #888888;
}

.bid-form{
    display: inline;
    width: 150px;
    height: 80px;
    position: fixed;
    top: 6%;
    left: 30%;
}
.bid-form input{
    display: block;
    margin-left: 0;
    width: 120px;
}
.bid-form button{
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 62px;
}

@media screen and (max-width: 750px){
    .header{
        display: block;
    }
    .main-content{
        display: block;
    }
    .main-content .right{
        margin: 10px 0 0 0;

    }
    .main-content .left img{
        width: 100%;
    }
    .bid-form{
        width: 150px;
        height: 80px;
        position: fixed;
        top: 6%;
        left: auto;
        right: 15%;
    }
    .bid-info{
        display: block;
    }
}

@media screen and (max-width: 1199px){
    .main-content{
        display: block;
    }
    .main-content .right{
        margin: 0;
    }
}